@import '../../scss/colors';

.projects {
	min-height: 30vh;
	width: 100%;
	background-color: #ee5253;
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 100px;

	h1 {
		color: $white;
		text-align: center;
		width: 100%;
		padding-top: 100px;
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 50px;
			margin-left: 10px;
		}
	}

	.projects-container {
		margin: 0 auto;
		width: 90%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
