@import "../../scss/colors";

.home {
    height: 100vh;
    width: 100%;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: $primary;
    }

    h3 {
        color: $white;
    }

    .light {
        font-family: "Gilroy-Light"
    }

    .infos {
        position: relative;
        height: 125px;
    }

    .project-contact {
        position: absolute;
        width: calc(100% - 0px);
        border: solid 2px #65ccb8;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 12px;
        color: white;
        font-family: 'HansKendrick';
        text-align: center;
        margin-top: 10%;
        text-decoration: none;
        transition: 0.25s;

        &:hover,&:focus {
            box-shadow: inset 20em 0 0 0 #65ccb8;
        }
    }

    .logo {
        position: absolute;
        left: 35px;
        animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

        img {
            width: 50px;
            transition-duration: 0.8s;
            transition-property: transform;
            transform-origin: 50% 67.5%;
            overflow: hidden;
            margin-bottom: 15px;
        
            &:hover {
                transform: rotate(-360deg)
            }
        }
    }
    
    .top {
        top: 35px;
        right: 0;
        position: absolute;
        width: 100%;
        
        .contact {
            border-radius: 20px;
            padding: 6px 15px;
            background: #65cbb7;
            color: white;
            text-decoration: none;
            font-family: 'HansKendrick';
            // transition: none;
            transform: none!important;
            animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        .socials {
            position: absolute;
            text-align: center;
            right: 35px;
            display: flex;
            align-items: center;

            a {
                transition: all 100ms ease-in-out;
                display: flex;
                align-items: center;
                img {
                    margin: 0px 10px;
                    transition: all 250ms ease-in-out;
                    width: 32px;
                    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

                    &.instagram {
                        border-radius: 0;
                        width: 22px;
                    }

                    &.linkedin {
                        width: 22px;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    opacity: 0.8;
                }
            }
        }
    }
}