@import "../../scss/colors";

.home {
    height: 100vh;
    width: 100%;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: $primary;
    }
    
    h3  {
        color: $white;
    }

    .light {
        font-family: "Gilroy-Light"
    }

    .logo {
        position: absolute;
        left: 35px;
        animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .top {
        top: 35px;
        right: 0;
        position: absolute;
        width: 100%;
        .socials {
            position: absolute;
            text-align: center;
            right: 35px;
            a {
                img {
                    margin: 0px 10px;
                    transition: all 250ms ease-in-out;
                    border-radius: 50%;
                    width: 32px;
                    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                }
                    
                &:hover {
                    img {
                        transform: scale(1.1);
                        
                        background: $white;
                        opacity: 0.9;
                    }
                }
            }   
        }
    }
}