@import "../../scss/colors";

.footer {
    min-height: 25vh;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .donate {
        color: #65ccb8;
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .content {
        width: 960px;
        text-align: center;
        color: $white;

        img {
            width: 60px;
            transition-duration: 0.8s;
            transition-property: transform;
            transform-origin: 50% 67.5%;
            overflow: hidden;
            margin-bottom: 15px;
        
            &:hover {
                transform: rotate(-360deg)
            }
        }

        h3 {
            font-family: 'Gilroy-ExtraBold'!important;
            color: $primary;
            font-size: 1.3em!important;
            padding-bottom: 8px;
        }
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Gilroy-Light"!important;
            a {
                margin: 0 3px;
            }
        }
    }
}