a.icon-github {
    content: url("../assets/icons/github.svg");
    width: 32px;
    height: 32px;
}
a.icon-mail {
    content: url("../assets/icons/mail.svg");
    width: 32px;
    height: 32px;
}
a.icon-twitter {
    content: url("../assets/icons/twitter.svg");
    width: 32px;
    height: 32px;
}

a.icon-js {
    content: url("../assets/icons/JavaScript.svg");
}
a.icon-nodejs {
    content: url("../assets/icons/nodejs.svg");
}
a.icon-react {
    content: url("../assets/icons/react.svg");
}
a.icon-webpack {
    content: url("../assets/icons/webpack.svg");
}
a.icon-golang {
    content: url("../assets/icons/Go.svg");
}
a.icon-mongodb {
    content: url("../assets/icons/mongodb.svg");
}
a.icon-mysql {
    content: url("../assets/icons/mysql.svg");
}
a.icon-sass {
    content: url("../assets/icons/sass.svg");
}
a.icon-star {
    content: url("../assets/icons/star.svg");
}
a.icon-fork {
    content: url("../assets/icons/fork.svg");
}
a.icon-heart {
    content: url("../assets/icons/heart.svg");
}