@import "colors";
@import "icons";
@import "animations";

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../assets/fonts/Gilroy-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HansKendrick';
    src: url('../assets/fonts/HansKendrick-Regular.otf') format('opentype');
}

#root > div {
    height: 100%;
}

div {
    width: auto;
    height: auto;
}

body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;

    h1,h2,h3,p {
        margin: 0;
    }

    h1 {
        font-family: 'Gilroy-ExtraBold';
        font-size: 3.5em;
    }
    h2,h3,p {
        font-family: 'HansKendrick';
    }
    h3 {
        font-size: 1.5em;
    }

    a[class^="icon-"] {
        font-size: 0;
    }
}